.landing {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    color: white;
    height: 100vh;
}

/* PORTRAIT */
.portrait_div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: 1;
}
.name_div .portrait {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

/* NAME DIV */
.name_div {
    position: absolute;
    top: 100px;
    left: 200px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.name_div > h1 {
    position: relative;
    left: 8px;
    bottom: 5px;
    margin: 0;
    font-size: 75px;
    letter-spacing: .2em;
    text-shadow: 0px 2px 5px black;
    text-align: center;
}
.name_div > .rect {
    position: absolute;
    inset: 0px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: gold;
    box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.319), inset 3px 3px 3px rgba(0, 0, 0, 0.319);
    animation: spin 20s infinite linear;
}

@keyframes spin {
    from { 
        transform: rotateZ(0deg) rotate(-45deg); 
    }
    to {
        transform: rotateZ(360deg) rotate(-45deg); 
    }
}

/* LOGO */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 100px;
    width: 100px;
}
