.content {
    position: relative;
    width: 100vw;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

/* FLOATERS */

.floater {
    position: relative;
    border-radius: 20px;
    background-color: gold;
    opacity: 0.25;
}

.floater_container {
    position: absolute;
    overflow: visible;
}